body {
    background-color: yellow;
    font-family: sans-serif;
}

table {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
    table-layout: fixed;
    font-family: 'Stencil', sans-serif;
}

td {
    width: 16.6mm;
}

tr {
    height: 18mm;
}

@font-face {
    font-family: 'Stencil';
    src: url('../fonts/DINSRG__.TTF');
}